<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
   <header>
      <h1 class=" bg-blue-300 text-pink-600">Welcome to Express js Backend</h1>

   </header>
   <main>
      <h2 class="bg-amber-600">Home Page</h2>
      <p>This is the home page of my Node.js backend application.</p>
      <p>Feel free to explore the features and functionalities.</p>
      <p>Check out the <a href="/about">About</a> page to learn more about this project.</p>
      <p>Visit the <a href="/contact">Contact</a> page for any inquiries or feedback.</p>
   </main>
</body>
</html>