* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
.main {
  background-image: url("assets/images/bg.jpg");
  background-size: max(1200px, 100vw);

  background-repeat: no-repeat;
  position: relative;
  height: 644px;
}
.main .box {
  height: 644px;
  width: 100%;
  background-color: black;
  opacity: 0.69;
  position: absolute;
  top: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  max-width: 60vw;
  height: 100px;
  align-items: center;
  margin: auto;
}

nav img {
  width: 130px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}

.hero {
  height: calc(100% - 100px);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 23px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
  z-index: 1;
  text-align: center;
}

.hero > :nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  z-index: 1;

  text-align: center;
}

.hero > :nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  z-index: 1;
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
}
.btn-red {
  background-color: red;
  padding: 3px 24px;
  color: white;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 400;
}
.btn-red-sm {
  background-color: red;
  color: white;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  align-items: center;
  z-index: 1;

  justify-content: center;
}

.main input {
  padding: 7px 101px 8px 14px;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

.line {
  height: 7px;
  width: 100vw;
  position: relative;
  z-index: 1;
  background-color: rgb(46, 44, 44);
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

.secImg {
  position: relative;
}

.secImg img {
  position: relative;
  z-index: 10;
  width: 555px;
}

.secImg video {
  position: absolute;
  top: 51px;
  right: 0;
  width: 555px;
}

section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}

section.first > div :nth-child(2) {
  font-size: 24px;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
}

.faq {
  background-color: black;
  color: white;
  padding: 34px;
}

.faqbox:hover {
  background-color: #414141;
}

.faqbox svg {
  filter: invert(1);
}
.faqbox {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 60vw;
  margin: 34px auto;
  cursor: pointer;
}

footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 60px;
}

footer .question {
  padding: 34px 0px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

.footer a {
  font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

@media screen and (max-width: 960px) {
  nav {
    max-width: 90vw;
  }

  .first {
    flex-wrap: wrap;
  }

  .secImg img {
    width: 306px;
  }

  .secImg video {
    width: 306px;
  }

  .hero > :nth-child(1) {
    font-size: 32px;
  }

  .hero > :nth-child(2) {
    font-size: 18px;
  }

  .hero > :nth-child(3) {
    font-size: 18px;
  }

  .faq h2 {
    text-align: center;
    font-size: 32px;
  }

  footer {
    max-width: 90vw;
    padding: 75px 0;
  }

  .footer-item {
    align-items: center;
  }
}

@media screen and (max-width: 960px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}

/* .default-ltr-cache-xa9oq4 {
  width: inherit;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: auto;
} */
@media all {
  .default-ltr-cache-xa9oq4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media all and (min-width: 600px) {
  .default-ltr-cache-xa9oq4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media all and (min-width: 960px) {
  .default-ltr-cache-xa9oq4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media all and (min-width: 1280px) {
  .default-ltr-cache-xa9oq4 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media all and (min-width: 1920px) {
  .default-ltr-cache-xa9oq4 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .default-ltr-cache-xa9oq4 {
    max-width: calc(83.33333333333334% - (3rem * 2));
  }
}
@media screen and (min-width: 1920px) {
  .default-ltr-cache-xa9oq4 {
    max-width: calc(66.66666666666666% - (3rem * 2));
  }
}
.default-ltr-cache-xa9oq4::after {
  display: none;
  border-bottom: none;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-top: calc(1.5rem - 0.0625rem);
}
